<!------------------------------ Header ------------------------------------- -->
<div class="container-fluid mt-2 bg-dark">
    <button class="btn text-white" routerLink="" style="font-weight:bold;">Home</button>&nbsp;
    <button class="btn text-white" routerLink="category">Shop by Category</button>&nbsp;
    <button class="btn text-white"><a class="text-white"
        href="https://www.amazon.in/ap/signin?_encoding=UTF8&openid.assoc_handle=inflex&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.pape.max_auth_age=0&openid.return_to=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fyourstore%2Fcard%3Fie%3DUTF8%26ref_%3Dcust_rec_intestitial_signin">Your
        Amazon.in</a></button>&nbsp;
    <button class="btn text-white">Today's Deals</button>&nbsp;
    <button class="btn text-white">Amazon Pay</button>&nbsp;
    <button class="btn text-white">sell</button>&nbsp;
    <button class="btn text-white">Customer Service</button>&nbsp;
    <button class="btn text-white">SignIn</button>&nbsp;
    <span class="text-white"><i class="fa fa-shopping-cart" style="text-align:left">Cart: {{cartItem}}</i></span>
  </div>
  <!-- ------------------------------End Header--------------------------------->
  
<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <div class="container-fluid mt-5 bg-warning" style="padding:5px 2px 5px 2px">
      <button class="btn btn-block btn-dark text-white" routerLink="../speaker">Bluetooth Speaker's</button>
      <button class="btn btn-block btn-dark text-white" >Outdoor Speaker's</button>
      <button class="btn btn-block btn-dark text-white">Soundbars</button>
      <button class="btn btn-block btn-dark text-white" >In Wall Speaker's</button>
      <button class="btn btn-block btn-dark text-white" >LoudSpeaker's</button>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>